div {
    background-color: black;
}

body {
    background-color: black;
    height: auto;
}

#canvas {
    padding-left: 8%;
}

#slider {
    padding-left: 32%;
}

#reset {
    padding-left: 43%;
}

#option {
    padding-left: 39%;
}

#upload {
    padding-left: 39%;
}

#clear-button {
    background-color: rgb(224, 157, 12);
    border-radius: 5px;
    border-style: none;
    padding: 5px 15px;
}

#upload-button {
    background-color: rgb(224, 157, 12);
    border-radius: 5px;
    border-style: none;
    padding: 10px 30px;
}

#radio-button {
    color: aliceblue;
}



label{
    padding: 0 10px;
}